.room-container {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.character {
  width: 500px;
  height: 500px;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: right 0.1s;
  background-color: transparent;
  transform: scaleX(1);
}

.character--jumping {
  transition: none;
}

.character--flipped {
  transform: scaleX(-1);
}

.robot {
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url("./pics/robots/robo.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center;
  transform: scaleX(1);
}

.robot--flipped {
  transform: scaleX(-1);
}
