body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  overflow: hidden; /* Remove the scrollbar */
  background-size: cover;
  font-family: "Arial", sans-serif;
}

/* Navbar CSS */
ul {
  list-style-type: none; /* Remove bullets from list */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #00000031; /* Dark background for navbar */
  overflow: hidden; /* Ensure content doesn't overflow */
  display: flex; /* Flex layout for horizontal alignment */
  justify-content: space-around; /* Space links evenly */
}

li {
  display: inline; /* Ensure list items are inline */
}

a {
  display: block; /* Allow clickable area for entire link */
  color: white; /* Set link text color to white */
  text-align: center; /* Center-align text */
  padding: 14px 20px; /* Add padding for spacing */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  background-color: #575757; /* Change background color on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
