ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

li {
  margin: 0;
}

a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

a:hover {
  background-color: #575757;
}
